body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f4f7;
    margin: 10px;  
    padding: 0;
}

.topo {
    background-color: #194d80;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.conteudo {
    margin: 20px 0;
}

h2 {
    color: #194d80;
    border-bottom: 3px solid #194d80;
    padding-bottom: 5px;
}

ul {
    background-color: #d9ecff;
    padding: 10px 20px;
    border-radius: 8px;
}

.rodape {
    background-color: #194d80;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 30px;
}
